#**Assignment - 02**

#**Data types in python**
In Python, a data type is a way to classify the kind of data that a variable can hold. It tells the Python interpreter how to handle and manipulate the data. Here's a breakdown of some of the most common data types in Python:

1. Numeric Types

     int: Represents whole numbers (e.g., -10, 0, 5).
   
   float: Represents numbers with decimal points (e.g., 3.14, -2.5).
     
      complex: Represents complex numbers (e.g., 2 + 3j).
2. Sequence Types

  str: Represents text as a sequence of characters (e.g., "hello", 'Python').

 list: Represents an ordered, mutable sequence of items (e.g., [1, 2, 3], ["apple", "banana"]).

 tuple: Represents an ordered, immutable sequence of items (e.g., (1, 2, 3), ("apple", "banana")).

 range: Represents a sequence of numbers within a given range.
3. Mapping Type

 dict: Represents a collection of key-value pairs (e.g., {"name": "Alice", "age": 30}).
4. Boolean Type

 bool: Represents either True or False.
5. Set Types

 set: Represents an unordered collection of unique items.
frozenset: Represents an immutable version of a set.

#**Int**

#**Basic Arithmetic**

In [ ]:
x = 10
y = 3

print(x + y)  # Output: 13 (Addition)
print(x - y)  # Output: 7 (Subtraction)
print(x * y)  # Output: 30 (Multiplication)
print(x / y)  # Output: 3.3333333333333335 (True division - always float)
print(x // y)  # Output: 3 (Floor division - integer part)
print(x % y)  # Output: 1 (Modulo - remainder)
print(x ** y)  # Output: 1000 (Exponentiation)

z = -5
print(abs(z)) # Output: 5 (Absolute Value)

print(pow(2, 3))    # Output: 8 (2 raised to the power of 3)
print(pow(2, 3, 5)) # Output: 3 ((2**3) % 5)

13
7
30
3.3333333333333335
3
1
1000
5
8
3

#**Bitwise Operations:**

In [ ]:
a = 5  # Binary: 0101
b = 3  # Binary: 0011

print(a & b)  # Output: 1 (Bitwise AND: 0001)
print(a | b)  # Output: 7 (Bitwise OR: 0111)
print(a ^ b)  # Output: 6 (Bitwise XOR: 0110)
print(a << 1)  # Output: 10 (Left shift: 1010)
print(a >> 1)  # Output: 2 (Right shift: 0010)
print(~a)      # Output: -6 (Bitwise NOT: Inverts bits and adds 1, represented in two's complement)

1
7
6
10
2
-6

#**Comparison Operations:**

In [ ]:
p = 7
q = 7
r = 9

print(p == q)  # Output: True (Equal to)
print(p != r)  # Output: True (Not equal to)
print(p < r)   # Output: True (Less than)
print(p > r)   # Output: False (Greater than)
print(p <= q)  # Output: True (Less than or equal to)
print(p >= r)  # Output: False (Greater than or equal to)

True
True
True
False
True
False

#**Constructor and Related:**

In [ ]:
# Converting to integer
print(int("123"))
print(int(3.14))
print(int("101", 2))

# Bytes conversion
my_int = 258
byte_representation = my_int.to_bytes(2, 'big') # 2 bytes, big-endian
print(byte_representation)

int_from_bytes = int.from_bytes(byte_representation, 'big')
print(int_from_bytes)

# bit_length()
n = 127 # Binary 01111111
print(n.bit_length())

n = 128 # Binary 10000000
print(n.bit_length())

n = 0
print(n.bit_length())

123
3
5
b'\x01\x02'
258
7
8
0

#**Immutability in Action:**

In [ ]:
x = 5
y = x + 2  # A new integer object (7) is created. x is not changed
print(x)    # Output: 5 (x remains 5)
print(y)    # Output: 7 (y is 7)

x = x + 2  # Now x is reassigned to the new integer object
print(x)

5
7
7

#**float**

#**In Python, the float class provides several useful methods. Here are all the methods available for a float object:**

#**1. as_integer_ratio()**
Returns a pair of integers whose ratio is exactly equal to the float.

 example

In [ ]:
num = 3.5
print(num.as_integer_ratio())

(7, 2)

#**2.Conjugate()**
Returns the complex conjugate of the float. Since float is a real number, it returns the same value.
Example:

In [ ]:
num = 4.2
print(num.conjugate())

4.2

#**3. fromhex(s) (Class Method)**
Converts a hexadecimal string to a floating-point number.
Example:

In [ ]:
num = float.fromhex('0x1.999999999999ap-4')
print(num)

0.1

#**4. hex()**
Returns the hexadecimal representation of the float.

Example:

In [ ]:
num = 0.1
print(num.hex())

0x1.999999999999ap-4

#**5. is_integer()**
Returns True if the float represents an integer value (e.g., 4.0), otherwise False.
Example:

In [ ]:
num1 = 4.0
num2 = 3.5
print(num1.is_integer())
print(num2.is_integer())

True
False

#**6. __abs__()**
Returns the absolute value of the float.

Example:

In [ ]:
num = -7.5
print(abs(num))

7.5

#**7. __round__(n)**
Rounds the float to n decimal places.

Example:

In [ ]:
num = 3.14159
print(round(num, 2))

3.14

#**In Python, the complex class provides several useful methods for working with complex numbers. Here are the built-in methods of the complex type:**

#**1. conjugate()**
Returns the complex conjugate of the number.

Example:

In [ ]:
num = 3 + 4j
print(num.conjugate())

(3-4j)

#**2. real (Property)**
Returns the real part of the complex number.
Example:

In [ ]:
num = 5 + 6j
print(num.real)

5.0

#**3. imag (Property)**
Returns the imaginary part of the complex number.

Example:

In [ ]:
num = 5 + 6j
print(num.imag)

6.0

#**Additional Operations (Using cmath Module)**
Python provides the cmath module for advanced mathematical operations with complex numbers. Some useful functions:

#**1.cmath.phase(z) - Returns the phase (angle) of a complex number.**

In [ ]:
import cmath
num = 1 + 1j
print(cmath.phase(num))

0.7853981633974483

#**2.cmath.polar(z) - Converts a complex number to polar coordinates.**

In [ ]:
print(cmath.polar(1 + 1j))

(1.4142135623730951, 0.7853981633974483)

#**3.cmath.rect(r, phi) - Converts polar coordinates back to a complex number.**

In [ ]:
print(cmath.rect(1.414, 0.785))

(1.0002470126024203+0.9994508060829874j)

#**4.cmath.exp(z) - Returns e^z for a complex number.**

In [ ]:
print(cmath.exp(1j))

(0.5403023058681398+0.8414709848078965j)

#**5.cmath.log(z) - Returns the natural logarithm of a complex number.**

In [ ]:
print(cmath.log(2 + 3j))

(1.2824746787307684+0.982793723247329j)

#**6.cmath.sqrt(z) - Returns the square root of a complex number.**

In [ ]:
print(cmath.sqrt(-1))

1j

#**Sequence types methods**
In Python, sequence types include list, tuple, str, bytes, bytearray, and range. These sequence types support common methods. Below is a list of important sequence type methods along with code
 examples.
#**1. Common Sequence Methods (list, tuple, str, etc.)**
These methods work on multiple sequence types, such as lists, tuples, and strings.

1.1 len() - Get Length of Sequence
Returns the number of elements in the sequence.
Example

In [ ]:
my_list = [10, 20, 30]
print(len(my_list))

3

#**1.2 min() & max() - Find Minimum & Maximum**
Returns the smallest/largest element in the sequence.

Example:

In [ ]:
nums = [4, 7, 1, 9]
print(min(nums))
print(max(nums))

1
9

#**1.3 sum() - Get Sum of Elements**
Returns the sum of numeric elements in a sequence.

Example:

In [ ]:
nums = [1, 2, 3, 4]
print(sum(nums))

10

#**1.4 sorted() - Sort Elements**
Returns a new sorted list.

Example:

In [ ]:
nums = [5, 2, 8, 3]
print(sorted(nums))

[2, 3, 5, 8]

#**1.5 reversed() - Reverse the Sequence**
Returns a reversed iterator.

Example:

In [ ]:
my_tuple = (1, 2, 3)
print(tuple(reversed(my_tuple)))

(3, 2, 1)

#**2. List-Specific Methods (list)**
Lists are mutable, so they have additional methods.

2.1 append() - Add an Element to the End

Example:

In [ ]:
my_list = [1, 2, 3]
my_list.append(4)
print(my_list)

[1, 2, 3, 4]

#**2.2 extend() - Add Multiple Elements**
Example:

In [ ]:
my_list = [1, 2]
my_list.extend([3, 4, 5])
print(my_list)

[1, 2, 3, 4, 5]

#**2.3 insert() - Insert at a Specific Index**
Example:

In [ ]:
my_list = [1, 3, 4]
my_list.insert(1, 2)
print(my_list)

[1, 2, 3, 4]

#**2.4 remove() - Remove First Occurrence of a Value**
Example:

In [ ]:
my_list = [1, 2, 3, 2]
my_list.remove(2)
print(my_list)

[1, 3, 2]

#**2.5 pop() - Remove and Return an Element**
Example:

In [ ]:
my_list = [10, 20, 30]
removed = my_list.pop(1)
print(removed)
print(my_list)

20
[10, 30]

#**2.6 index() - Find Index of a Value**
Example:

In [ ]:
my_list = [5, 10, 15]
print(my_list.index(10))

1

#**2.7 count() - Count Occurrences of an Element**

In [ ]:
my_list = [1, 2, 2, 3]
print(my_list.count(2))

2

#**2.8 reverse() - Reverse the List (In-Place)**
Example

In [ ]:
my_list = [1, 2, 3]
my_list.reverse()
print(my_list)

[3, 2, 1]

#**2.9 sort() - Sort the List (In-Place)**
Example:

In [ ]:
nums = [4, 2, 8, 1]
nums.sort()
print(nums)

[1, 2, 4, 8]

#**3. Tuple-Specific Methods (tuple)**
Tuples are immutable, so they have fewer methods.

#**3.1 index() - Find Index of a Value**
Example:

In [ ]:
my_tuple = (5, 10, 15)
print(my_tuple.index(10))

1

#**3.2 count() - Count Occurrences of an Element**
Example:

In [ ]:
my_tuple = (1, 2, 2, 3)
print(my_tuple.count(2))

2

#**4. String-Specific Methods (str)**
Strings are also immutable, but they have many built-in methods.

#**4.1 upper() / lower() - Convert Case**
Example:

In [ ]:
text = "Hello"
print(text.upper())
print(text.lower())

HELLO
hello

#**4.2 strip() - Remove Whitespace**
Example:

In [ ]:
text = "  hello  "
print(text.strip())

hello

#**4.3 replace() - Replace Substring**
Example:

In [ ]:
text = "I love Python"
print(text.replace("love", "like"))

I like Python

#**4.4 split() - Convert String to List**
Example:

In [ ]:
text = "apple,banana,grape"
print(text.split(","))

['apple', 'banana', 'grape']

#**4.5 join() - Convert List to String**
Example:

In [ ]:
words = ['Hello', 'World']
print(" ".join(words))

Hello World

#**5. Range-Specific Methods (range)**
The range type is immutable and has limited methods.

5.1 start, stop, step (Properties)
Example:

In [ ]:
r = range(1, 10, 2)
print(r.start)
print(r.stop)
print(r.step)

1
10
2

#**Boolean (bool) Methods in Python**
The bool type in Python doesn't have many specific methods since it's a subclass of int. However, it supports logical operations and type conversion.

#**1. bool() (Constructor)**
Converts a value to a boolean (True or False).
Example:

In [ ]:
print(bool(1))
print(bool(0))
print(bool(""))
print(bool("Hello"))

True
False
False
True

#**2. Logical Operations (and, or, not)**
Used for boolean logic.
Example:

In [ ]:
a = True
b = False
print(a and b)
print(a or b)
print(not a)

False
True
False

#**Mapping Type (dict) Methods**
A mapping type in Python refers to a dict, which stores key-value pairs.

#**1. dict.keys()**
Returns a view object of all the keys in the dictionary.
Example

In [ ]:
my_dict = {"name": "Alice", "age": 25}
print(my_dict.keys())

dict_keys(['name', 'age'])

#**2. dict.values()**
Returns a view object of all the values in the dictionary.
Example:

In [ ]:
print(my_dict.values())

dict_values(['Alice', 25])

#**3. dict.items()**
Returns key-value pairs as tuples.
Example:

In [ ]:
print(my_dict.items())

dict_items([('name', 'Alice'), ('age', 25)])

#**4. dict.get(key, default)**
Returns the value for a given key; returns default if the key is not found.
Example

In [ ]:
print(my_dict.get("name"))
print(my_dict.get("gender", "Not Found"))

Alice
Not Found

#**5. dict.update()**
Updates a dictionary with another dictionary or key-value pairs.
Example:

In [ ]:
my_dict.update({"city": "New York"})
print(my_dict)

{'name': 'Alice', 'age': 25, 'city': 'New York'}

#**6. dict.pop(key, default)**
Removes a key from the dictionary and returns its value.
Example:

In [ ]:
age = my_dict.pop("age")
print(age)
print(my_dict)

25
{'name': 'Alice', 'city': 'New York'}

#**7. dict.popitem()**
Removes and returns the last inserted key-value pair.
Example

In [ ]:
item = my_dict.popitem()
print(item)

('city', 'New York')

#**8. dict.clear()**
Removes all items from the dictionary.
Example

In [ ]:
my_dict.clear()
print(my_dict)

{}

#**Set Methods**
A set is an unordered collection of unique elements.

#**1. set.add()**
Adds an element to the set.
Example:

In [ ]:
my_set = {1, 2, 3}
my_set.add(4)
print(my_set)

{1, 2, 3, 4}

#**2. set.remove()**
Removes an element from the set; raises an error if not found.
Example

In [ ]:
my_set.remove(2)
print(my_set)

{1, 3, 4}

#**3. set.discard()**
Removes an element, but does not raise an error if it’s not found.
Example:

In [ ]:
my_set.discard(5)

#**4. set.pop()**
Removes and returns a random element.
Example:

In [ ]:
item = my_set.pop()
print(item)

1

#**5. set.clear()**
Removes all elements from the set.
Example:

In [ ]:
my_set.clear()
print(my_set)

set()

#**6. set.union()**
Returns a new set with elements from both sets.
Example:

In [ ]:
set1 = {1, 2, 3}
set2 = {3, 4, 5}
print(set1.union(set2))

{1, 2, 3, 4, 5}

#**7. set.intersection()**
Returns a set with common elements.
Example:

In [ ]:
print(set1.intersection(set2))

{3}

#**8. set.difference()**
Returns elements present in the first set but not in the second.
Example:

In [ ]:
print(set1.difference(set2))

{1, 2}

#**9. set.symmetric_difference()**
Returns elements that are in either of the sets but not in both.
Example:

In [ ]:
print(set1.symmetric_difference(set2))

{1, 2, 4, 5}

#**10. set.issubset()**
Checks if one set is a subset of another.
Example:

In [ ]:
print({1, 2}.issubset(set1))

True

#**11. set.issuperset()**
Checks if one set is a superset of another.
Example:

In [ ]:
print(set1.issuperset({1, 2}))

True

#**12. set.isdisjoint()**
Returns True if two sets have no common elements.
Example:

In [ ]:
set3 = {6, 7, 8}
print(set1.isdisjoint(set3))

True